@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+US+Trad:wght@100..400&display=swap');
@font-face{
    font-family: 'zuumerough';
    src: url('../Fonts/Fontspring-DEMO-zuumerough-bold.otf') format('truetype');
}
@font-face{
    font-family: 'zuumeroughregular';
    src: url('../Fonts/Fontspring-DEMO-zuumerough-regular.otf') format('truetype');
}


.home-container-1{
    display: flex;
    padding: 0 10px;
    height: 100vh;
    /* margin-top: 6%; */

}

.sub-1{
    width: 45%;
    height: 100vh;
    
    
}

.maintxt{
    padding: 0 0% 0 20%;
    width: 100%;
    /* background-color: rgba(245, 245, 220, 0.34); */
} 

.maintxt h1{
    letter-spacing: 2px;
    width: max-content;
    font-weight: 900;
    font-size: 150px;
    text-align: left;
    margin: 0;
    font-family: 'zuumerough', sans-serif;
    background-image: linear-gradient(180deg, #EF5394, #F26F66);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
}


.maintxt h1:first-of-type{
    margin-top: 14%;
}

.subheading{
    width: 100%;
}

.subheading p{
    color: rgb(205, 205, 205);
    font-family: zuumerough, sans-serif;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    padding: 0 0% 0 20%;
    text-align: left;
    margin: 0; 
    margin-bottom: 5%;  
    text-align: left;
}

.contp2{
    width: 70%;
    /* background-color: rgb(5, 255, 172); */
    padding: 0 0% 0 20%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.OrderNowButton{
    position: relative;
    height: 7vh;
    width: 200px;
    border: none;
    letter-spacing: 1px;
    background-color: transparent;
    font-family: 'zuumerough', sans-serif;
    background-image: linear-gradient(180deg, #EF5394, #F26F66);
    border-radius: 5px;
}

.OrderNowButton a{
    text-decoration: none;
    color: white;
    font-family: 'zuumerough', sans-serif;
    font-size: 25px;
}

.SeeTheMenuButton{
    
    
    position: relative;
    height: 7vh;
    width: 200px;
    border: none;
    background-color: transparent;
    font-family: 'zuumerough', sans-serif;
    
    z-index: 1;
    overflow: hidden;


    --c: #F26F66;
    color: var(--c);
    font-size: 16px;
    /* border: 0.1em solid var(--c); */
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}





.SeeTheMenuButton span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    /* background-image: linear-gradient(to right, #F26F66 0%, #fda085 51%, #f6d365 100%); */
    background-image: linear-gradient(180deg, #EF5394, #F26F66);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.SeeTheMenuButton:hover span{
    transform: translateY(0) scale(2);  
}

.SeeTheMenuButton span:nth-child(1) {
    --n: 1;
}

.SeeTheMenuButton span:nth-child(2) {
    --n: 2;
}

.SeeTheMenuButton span:nth-child(3) {
    --n: 3;
}

.SeeTheMenuButton span:nth-child(4) {
    --n: 4;
}

.SeeTheMenuButton a{

    text-decoration: none;
    color: white;
    font-family: 'zuumerough', sans-serif;
    font-size: 25px;
}


.sub-2{
    width: 55%;
    height: 100vh;
    padding:0;
}

.mainImg{
    transform: rotate(-15deg);
    width:800px;    
}




.home-container-2{
    /* background-color: #EF5394; */
    width: 95%;
    display: flex;
    padding: 10% 5%;
    /* margin-right: 10%; */
    overflow: hidden;
    
}

.home-cont-2-sub-1{
    /* background-color: #EF5394; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
    text-align: left;
    padding: 2% 0% 0 5%;

}

.home-cont-2-sub-1 h4{
    text-align: left;
    font-size: 27px;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;;
    font-family: zuumerough, sans-serif;
}

.home-cont-2-sub-1 h1{
    
    font-size: 100px;
    padding: 0;
    margin: 0;
    font-family: zuumerough, sans-serif;
}

.home-cont-2-sub-1 p{
    text-align: left;
    color: rgb(197, 197, 197);
    font-size: 18px;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family: zuumeroughregular, sans-serif;
    padding-right: 40px;
    /* background-color: #F26F66; */
}



.home-cont-2-sub-2{
    width: 70%;
    height: 70vh;
    /* background-color: rgb(200, 199, 199); */
    padding-right: 1%;
    display: flex;
    

}

.img-container-1, .img-container-2, .img-container-3, .img-container-4{
    /* background-color: #ef539448; */
    height: 90%;
    margin: 10px;

}

.img-container-1{
    width: 20%;
}

.img-container-2{
    width: 20%;
}

.img-container-3{
    width: 20%;
}

.img-container-4{
    width: 40%;
}


.img-container-2-sub-1, .img-container-2-sub-2, .img-container-3-sub-1, .img-container-3-sub-2{ 
    /* margin: 5px; */
    /* background-color: #bfff00; */
    height: 49%;
}

.img-container-1 .img-one{
    width: 200px; 
    height: 100%; 
    /* object-fit: cover; */
    border-radius: 5px;
    
}

.img-container-2 .img-container-2-sub-1 .img-two{

    width: 200px; 
    height: 100%; 
    margin: 0 5px 5px 5px;
    border-radius: 5px;
}

.img-container-2 .img-container-2-sub-2 .img-three{
    width: 200px; 
    height: 100%; 
    margin: 20px 5px 0px 5px;
    border-radius: 5px;

}

.img-container-3 .img-container-3-sub-1 .img-four{

    width: 200px; 
    height: 100%; 
    margin: 0 5px 5px 5px;
    display: block;
    border-radius: 5px;

}



.img-container-3{
    display: inline-block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.673); /* Black overlay with 0.5 opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.overlay img {
    width: 50px; /* Fixed size for Instagram icon */
    height: 50px; /* Fixed size for Instagram icon */
    opacity: 1; /* Ensure icon is fully visible on the overlay */
    transition: opacity 0.3s ease;  /* Smooth transition for icon */
    
}
.overlay a {
    position: relative;
    text-decoration: none;
}
.overlay .title {
    color: #fff; /* White text color */
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 8px; /* Space between icon and title */
    position: relative; /* Ensure title respects z-index */
    z-index: 1;/* Space between icon and title */
    text-decoration: none;
}

.overlay img:hover {
    opacity: 0.8; /* Lower opacity on hover to indicate interaction */
}

.img-container-3 .img-container-3-sub-2 .img-five{
    width: 200px; 
    height: 100%; 
    margin: 20px 5px 0px 5px;
    border-radius: 5px;

}

.img-container-4 .img-six{
    width: auto;
    height: 100%; 
    border-radius: 5px;
    /* object-fit: cover; */
    
}